{
    "env": {
        "node": true,
        "mocha": true
    },
    "extends": "eslint-config-ideal",
    "rules": {
        "id-length": [2, {
            "min": 3,
            "max": 30,
            "exceptions": []
        }]
    },
    "root": true
}
